.signed-in-container{
  display: flex;
}

.profile-dropdown{
  position: absolute;
  background-color: #ffd478;
  min-width: 160px;
  box-shadow: 5px 5px 10px rgb(199, 126, 0);
  border: 2px solid rgba(105, 38, 0, 0.281);
  border-radius: 10px;
  padding: 5px 0px 10px 25px;
  z-index: 1;
}