.product-card-container{
  width: 80vw;
  min-height: 200px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  margin: 20px;
  font-size: large;
  font-weight: 700;
}

.product-card-container:hover{
  background: rgb(15,199,118);
  background: radial-gradient(ellipse, rgba(195, 252, 255, 0.56) 0%, rgba(0, 162, 195, 0.567) 20%, rgba(9, 9, 121, 0) 50%);
  color: brown;
  border: 4px;
  border-style:  outset none none outset;
  border-color: rgb(220, 216, 177);
}

.product-icon{
  max-width: 200px;
  max-height: 200px;
  border-radius: 10%;
}