.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: rgb(255, 247, 230);
  min-height: 2.5rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  margin: 0px 5px;
  border-radius: 10px;
}

.home-link{
  margin-right: 10px;
}

.logo-gameworld{
  max-width: 80px;
  max-height: 80px;
}