.errors-list{
  color: rgb(116, 0, 0);
}

.welcome-modal{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /* margin: 10px; */
  background-color: rgb(162, 235, 255);
  width: 80vw;
  min-height: 50vh;
  border: 2px solid rgb(0, 255, 251);
}

.welcome-div{
  margin: 20px;
}

.welcome-form{
  display: flex;
  flex-flow: column;
  align-items: left;
  justify-content: left;
  width: 50vw;
  height: 70vh;
}

.labels-inputs{
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.button-container{
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.signup-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 255, 4, 0.512);
  min-height: 40px;
  width: 50%;
  min-width: 100px;
  border-radius: 10px;
  border: solid 2px white;
}

.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .cancel-button{
  background-color: rgba(139, 0, 0, 0.59);
  min-height: 40px;
  min-width: 100px;
  border-radius: 10px;
} */

/* .sec-qs{
  display: flex;
  justify-content: center;
  margin: 5px;
} */