.signed-in-container{
  display: flex;
  align-items: center;
}

.user-icon{
  max-width: 40px;
  max-height: 40px;
}

.user-icon-button{
  border-radius: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 50px;
  margin-right: 10px;
}

.profile-dropdown{
  position: absolute;
  left:75%;
  top:4%;
  font-style: italic;
  background-color: #ffd478;
  min-width: 160px;
  box-shadow: 5px 5px 10px rgb(199, 126, 0);
  border: 2px solid rgba(105, 38, 0, 0.281);
  border-radius: 10px;
  padding: 5px 0px 10px 25px;
  z-index: 1;
}

.logout-button{
  background-color: brown;
  color: bisque;
  border-radius: 5px;
}